<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Admin | Diseños Alma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_importmap_tags %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <script src="https://unpkg.com/feather-icons"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div style="min-height: 100vh;" class="bg-light">
      <button class="btn btn-outline-secondary" id="sidebarToggle">
        <i data-feather="menu"></i>
      </button>

      <div class="d-flex">
        <%= render 'shared/sidebar' %>

        <div id="main-content" class="flex-grow-1 p-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>