<turbo-frame id="<%= dom_id(item) %>">
  <div class="cart-item d-flex border-bottom py-4 align-items-start">
    <!-- Imagen -->
    <div class="item-image me-3">
      <% if item.product.image.attached? %>
        <%= image_tag url_for(item.product.image), width: 100, height: 100, class: "cart-product-image", alt: item.product.name %>
      <% else %>
        <div style="width: 90px; height: 90px; background: #f0f0f0;"></div>
      <% end %>
    </div>

    <!-- Info y controles -->
    <div class="flex-grow-1">
      <div class="d-flex justify-content-between">
        <div>
          <strong class="product-title"><%= item.product.name %></strong>
          <% if item.size.present? %>
            <div class="text-muted small mt-1"><%=t("Size:")%> <%= item.size %></div>
          <% end %>
        </div>
        <div class="product-price"><%= item.product.formatted_price %></div>
      </div>

      <div class="cart-actions d-flex align-items-center mt-2">
      <div class="quantity-wrapper">
        <%= button_to '-', update_quantity_cart_item_path(item, quantity: item.quantity - 1), method: :patch, class: "qty-btn", form_class: "qty-form" %>
        <div class="qty-display"><%= item.quantity %></div>
        <%= button_to '+', update_quantity_cart_item_path(item, quantity: item.quantity + 1), method: :patch, class: "qty-btn", form_class: "qty-form" %>
      </div>

      <%= button_to 'Eliminar', cart_item_path(item), method: :delete,
      class: "remove-btn ms-auto", data: { }, form_class: "remove-form" %>
</div>


    </div>
  </div>
</turbo-frame>
